h1{
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2{
 padding-top: 50px;
 font-family: "Special Elite", system-ui;
 font-weight: 400;
  font-style: normal;
text-align: center;
}

h3{
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  }


.btn{
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  margin-top: 50px;

  }

  #navbar-brand {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .col-md-6 {
    text-align: center;
    padding-bottom: 30 px;
  }

  .col-md-4 {
    text-align: center;
  }
  
  
  .bi{
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  }

