#content{
    margin: 0 auto;
    width: 900px;
}

#headline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color:black;
    margin-top: 20px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    }

p {
    font-family: 'Georgia', serif;
    font-size: 13px;
    width: 700px;
    line-height: 3.5;
    }

.image-container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 10px;

    }

.caption{
    font-size:10px;
}

blockquote{
    font: 24px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: red;
    margin-left: 50px;
    padding-left: 15px;
    border-left 4px solid #ccc;
}

.link{
    font-size: 20px;

}

.masthead{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}