#content{
    margin: 0 auto;
    width: 900px;
}

#masthead{
text-align: center;
}

#headline{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color:black;
    margin-top: 20px;   
}

#byline{
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.image-container{
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
}

.subhead{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

p {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 15px;
    line-height: 1.5; 
    margin-bottom: 1em;
    color: #333;
    padding: 0 20px; 
}

.caption{
    font-size:14px;
    }
.source{
    font-size: 10px;
}

.text-container{
    width: 75%;
    margin: 0 auto;
}

blockquote {
    font: 30px normal helvetica, sans-serif; 
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: black; 
    margin-left: 50px; 
    padding-left: 15px; 
    } 
    
a{
    color: black;
}